.about-us-section {
  width: 60%;
  margin: 0 auto;
  padding: 75px 0;
  font-family: 'PT Sans', sans-serif;
}

.img-slider {
  margin-bottom: 7%;
}
.introduction{
color: #edf0f1;
}

.footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    color: rgb(224, 212, 212);
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 15% 2% 15%;
}