.wrapper{
    width: 60%;
    margin: 0 auto;
}

h2 {
    color: #edf0f1;
    padding: 75px 0;
    font-family: 'PT Sans', sans-serif;
}

.list {
    color: #edf0f1;
    font-family: 'PT Sans', sans-serif;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
}
