* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.img-slider {
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.logo {
  width: 150px;
  height: 20px;
  font-size: 25px;
  color: white;
  font-family: "Courgette", cursive;
  cursor: pointer;
  margin: 0 auto 20px -60px;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  color: rgb(224, 212, 212);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15% 2% 15%;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.social-icons a{
  text-decoration: none;
  color: inherit;
}

.footer-p {
  margin: 2px 0 0 15px;
}

.list {
  list-style-type: circle;
  font-family: "Montserrat", sans-serif;
}

h3 {
  margin-bottom: 5px;
}

.icon-globe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes animation {
  0% {
  }
  100% {
    width: scale(2);
  }
}
